name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    name: Active Record ${{ matrix.activerecord }} on ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        activerecord: ["~> 7.2.3", "~> 8.0.4", "~> 8.1.1"]
        ruby: ["3.2", "3.3", "3.4"]
        allow_failure: [false]
        include:
          - activerecord: "main"
            ruby: "3.4"
            allow_failure: true
    env:
      AR: ${{ matrix.activerecord }}
    continue-on-error: ${{ matrix.allow_failure }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Install packages
        run: sudo apt-get install libsqlite3-dev

      - name: Install Bundler 4.x
        run: gem install bundler -v '~> 4.0'

      - name: Install dependencies
        run: bundle install

      - name: Test
        run: bundle exec rspec
